<h1 class="mb-4">My Book Notes</h1>

<!-- Sorting Controls -->
<div class="mb-3">
  <span class="me-2">Sort by:</span>
  <a href="/books?sort=rating" class="btn btn-sm btn-outline-secondary">Rating</a>
  <a href="/books?sort=date_read" class="btn btn-sm btn-outline-secondary">Recent</a>
</div>

<!-- Book Grid -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% if (books.length !== 0) {%>
    <% books.forEach(book => { %>
      <%- include('../partials/book-card', { book }) %>
    <% }) %>
  <% } else { %>
      <h2>No book found</h2>
  <% } %>
</div>