<!-- views/partials/footer.ejs -->
<footer class="mt-auto py-1 bg-dark text-white small">
    <div class="container text-center">
      <p class="mb-0">
        &copy; <%= new Date().getFullYear() %> Book Notes
      </p>
    </div>
  </footer>